*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}
body{
    font-family: 'Space Mono', monospace;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction:column;
    min-height: 100vh;
    background-color:hsl(185, 41%, 84%);

}
.title{
    letter-spacing: 0.8rem;
    margin-bottom:2.5rem;
    color:hsl(183, 74%, 21%);
}

/* Styling the container */
.container{
    background-color:#fff;
    height:25rem;
    width:50rem;
    border-radius:0.8rem;
    display:flex;
}

/* Styling the calculator part with inputs and buttons */
.calculator{
    height:22rem;
    width:22rem;
    display:flex;
    flex-direction: column;
    flex:1;
    margin:auto 0 auto 1.5rem;
}
.calculator h4 {
    color:hsl(186, 14%, 43%);
}
.calculator header{
    height:5rem;
}
.calculator header h4{
    margin:0;
}
.input-container{
    width:100%;
    display:flex;
}
.calculator header input{
    width:20rem;
    border:none;
    background-color:hsl(189, 41%, 97%);
    padding:0.5rem 0;
    margin-left:0;
    border-radius:0.2rem;
    text-align: end;    
    font-size:1.2rem;
    font-weight:600;
    color:hsl(183, 100%, 15%)
}
.calculator header input:focus{
    outline:none;
    border-top:	0.19rem hsl(172, 67%, 45%) solid;
    border-right:0.19rem hsl(172, 67%, 45%) solid;
    border-bottom:0.19rem  hsl(172, 67%, 45%) solid;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.calculator footer input:focus{
    outline:none;
    border-top:	0.19rem hsl(172, 67%, 45%) solid;
    border-right:0.19rem hsl(172, 67%, 45%) solid;
    border-bottom:0.19rem  hsl(172, 67%, 45%) solid;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.calculator header .fa-dollar-sign{
    background-color: hsl(189, 41%, 97%);
    padding:0.5rem 0.5rem;
    border-radius:0.2rem;
    color:black;
}
.calculator .content {
    height:12rem;
}
.calculator .content .buttons{
    display:grid;
    grid-template-columns: repeat(3,auto);
    grid-gap:1rem;
    margin-top:1rem;
}
.buttons button{
    height:2.7rem;
    width:6.2rem;
    background-color:hsl(183, 100%, 15%);
    border-radius:0.2rem;
    color:#fff;
    font-size:1.2rem;
    font-weight:700;
    border:none;
    cursor:pointer;
}
.buttons button:hover{
        background-color:hsl(185, 48%, 74%);
        color:hsl(183, 100%, 15%);
}
.border{
    border-top:	0.19rem hsl(172, 67%, 45%) solid;
    border-left:0.19rem hsl(172, 67%, 45%) solid;
    border-bottom:0.19rem  hsl(172, 67%, 45%) solid;
    border-top-left-radius: 0.2rem;
    border-bottom-left-radius: 0.2rem;
    border-top-right-radius:0;
    border-bottom-right-radius:0;
}

.buttons input{
    width:6.2rem;
    height:2.7rem;
    font-size:1.4rem;
    text-align:center;
    background-color:hsl(189, 41%, 97%);
    border:none;
    border-radius:0.2rem;
}
.buttons input:focus{
    outline:none;
    border:0.19rem hsl(172, 67%, 45%) solid;
}
.calculator footer{
    height:5rem;
}
.calculator footer input{
    width:20rem;
    border:none;
    background-color:hsl(189, 41%, 97%);
    padding:0.5rem 0;
    margin-left:0;
    border-radius:0.2rem;
    text-align: end; 
    font-size:1.2rem;
    font-weight:600;
    color:hsl(183, 100%, 15%)
}
.calculator footer .fa-users{
    background-color: hsl(189, 41%, 97%);
    padding:0.5rem 0.5rem;
    border-radius:0.2rem;
}

.error-message{
    display:flex;
    justify-content:space-between;
}
#error{
    margin-right:1.8rem;
    color:hsl(11, 65%, 50%);
    display:none;
}


.display{
    width:22rem;
    height:22rem;
    background-color:hsl(183, 100%, 15%);
    border-radius:0.8rem;
    display:flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    flex:1;
    margin: auto 1.5rem auto 0;
}
.display-amount{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin:1rem 0 ;
    width:20rem;
}


.display-text h3{
    color:#fff;
    font-size:1rem;
}
.display-text p {
    color:hsl(189, 41%, 97%);
}

.display-amount h2{
    color:hsl(172, 67%, 45%);
    font-size:2rem;
}
#reset {
    width:20rem;
    height:3rem;
    background-color:hsl(172, 67%, 45%);
    border:none;
    border-radius:0.4rem;
    font-size:1.2rem;
    font-weight:600;
    color:hsl(183, 100%, 15%);
}
#reset:hover{
    background-color:hsl(185, 48%, 74%);
    cursor:pointer;
}
.show{
    display:block;
    color:hsl(11, 65%, 50%);
}

.picked{
    background-color:hsl(172, 67%, 45%);
    color:hsl(183, 100%, 15%);
}
.border-num{
    border:0.19rem solid hsl(172, 67%, 45%) ;
}
.wrong {
    border:1px solid hsl(11, 65%, 50%);
}

/*             RESPONSIVE DESIGN */
@media only screen and (max-width:1024px) and (min-width:900px){
    .container{
        width:100%;
        height:40rem;
        font-size:2rem;
    }
    .calculator, .display{
        height:32rem;
    }
    .calculator header input, .calculator footer input{
        width:90%;
        height:3rem;
    }
    .content{
        margin:3rem 0;
    }
    .buttons button{
        height:3rem;
        width:9rem;
        
    }
    .buttons input{
        height:3rem;
        width:9rem;
        
    }
    .button-des {
        width:90%;
        height:4rem;
        font-size:2.2rem;
    }
}
@media only screen and (max-width:820px){
        .title{
            margin-top:2rem;
        }
        .container{
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height:52rem;
            width:30rem;
        }
        .calculator{
            margin:0 auto;
        }
        .display{
            margin:1rem auto;
            justify-content:space-evenly;
            height:50%;
        }
       
        
}
@media only screen and (max-width:480px){
    .container{
        width:100%;
    }
}

@media only screen and (max-width:375px){
    
    .container{
        width:100%;
    }
    .calculator {
        margin-bottom:0;
    }
    
    
    .calculator .content .buttons{
        display:grid;
        grid-template-columns: repeat(2,auto);
        grid-gap:0.5rem;
    }
    .buttons button{
        height:2.7rem;
        width:8rem;
        
    }
    .buttons input {
        height:2.7rem;
        width:8rem;
    }
    .display{
     width:100%;   
    }
    
}
@media only screen and (max-width:350px){
    
    .container{
        width:100%;
    }
    .calculator{
        display: flex;
        justify-content: center;
        align-items: center;
    }
   
    .calculator header input, .calculator footer input{
        width:90%;
    }
    .buttons button{
        height:2.5rem;
        width:5rem;
        
    }
    .calculator .content .buttons{
        grid-gap:0.4rem;
    }
    .buttons button{
        width:7rem;
    }
    .buttons input {
        height:2.5rem;
        width:5rem;
    }
    .display-amount{
        justify-content: space-evenly;
    }
    .button-des{
        width:80%;
    }
}
@media only screen and (max-width:340px){
    .container{
        width:100%;
    }
}







.user-sign-border{
    border-top:0.19rem solid #d24b2d;
    border-bottom:0.19rem solid #d24b2d;
    border-left:0.19rem solid #d24b2d;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
.number-people-border{
    border-top:0.19rem solid #d24b2d;
    border-bottom:0.19rem solid #d24b2d;
    border-right:0.19rem solid #d24b2d;
}
